# Exercício 04
### Questão 01
Carregue o arquivo risco-credito.csv

In [3]:
import pandas as pd
df = pd.read_csv('risco-credito.csv')

       historia divida garantias  renda     risco
0          ruim   alta   nenhuma   0_15      alto
1  desconhecida   alta   nenhuma  15_35      alto
2  desconhecida  baixa   nenhuma  15_35  moderado

### Questão 02
Exiba as 3 primeiras linhas do dataset.

In [9]:
df.head(3)

       historia divida garantias  renda     risco
0          ruim   alta   nenhuma   0_15      alto
1  desconhecida   alta   nenhuma  15_35      alto
2  desconhecida  baixa   nenhuma  15_35  moderado

### Questão 03
Exiba os dados do dataset usando a função describe().

In [4]:
df.describe()

            historia divida garantias     renda risco
count             14     14        14        14    14
unique             3      2         2         3     3
top     desconhecida  baixa   nenhuma  acima_35  alto
freq               5      7        11         7     6

### Questão 04
Exiba os valores únicos de todas as colunas.

In [8]:
print(df['historia'].unique())
print(df['divida'].unique())
print(df['garantias'].unique())
print(df['renda'].unique())
print(df['risco'].unique())

['ruim' 'desconhecida' 'boa']
['alta' 'baixa']
['nenhuma' 'adequada']
['0_15' '15_35' 'acima_35']
['alto' 'moderado' 'baixo']

### Questão 05
Filtre todos os registros que possuem risco alto e depois os que possuem risco baixo.

In [10]:
df[df['risco'] == 'alto']

        historia divida garantias     renda risco
0           ruim   alta   nenhuma      0_15  alto
1   desconhecida   alta   nenhuma     15_35  alto
3   desconhecida  baixa   nenhuma  acima_35  alto
6           ruim  baixa   nenhuma      0_15  alto
10           boa   alta   nenhuma      0_15  alto
13          ruim   alta   nenhuma     15_35  alto

In [11]:
df[df['risco'] == 'baixo']

        historia divida garantias     renda  risco
4   desconhecida  baixa   nenhuma  acima_35  baixo
5   desconhecida  baixa  adequada  acima_35  baixo
8            boa  baixa   nenhuma  acima_35  baixo
9            boa   alta  adequada  acima_35  baixo
12           boa   alta   nenhuma  acima_35  baixo

### Questão 06
Verifique se alguma coluna do dataset possui valores nulos.

In [18]:
for column in df.columns:
    print(column, "Nulos: ", df[column].isnull().sum())

historia Nulos:  0
divida Nulos:  0
garantias Nulos:  0
renda Nulos:  0
risco Nulos:  0

### Questão 07
Separe as colunas do dataset em dataframes menores x (dados) e y (marcações). A coluna y deve ser a ‘risco’, as colunas que compõem o x são as demais.

In [21]:
x = df[['historia', 'divida', 'garantias', 'renda']]
y = df['risco']
print(len(x))
print(len(y))

14
14

### Questão 08
Crie variáveis categóricas para o dataframe x e exiba o resultado da conversão.
O dataframe y possui uma variável do tipo categórica. na verdade, chamamos de um dataset com multiclassificação. Há algoritmos apropriados para mais de 2 resultados, como nessa situação. Não utilizaremos um algoritmo de multiclassificação neste momento. Vamos aplicar o nosso algoritmo da forma como está e ver o seu desempenho.