# Dados de treino x teste, avaliação de resultados, variáveis categóricas

In [10]:
import pandas as pd
df = pd.read_csv('acessos.csv')
df.head(3)

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0

In [11]:
x = df[['home','como_funciona', 'contato']]
y = df['comprou']

In [13]:
print(len(x))
print(len(y))

99
99

In [14]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = \
     train_test_split(x, y, test_size = 0.25, random_state = 0)

In [15]:

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
#print(modelo.predict(x_teste))
#print(y_teste.values)
modelo.score(x_teste, y_teste)

0.96

In [17]:
df = pd.read_csv('acessos_buscas.csv')
df.head(3)

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1

In [18]:
len(df)

1000

In [20]:
df['busca'].unique()

array(['algoritmos', 'java', 'ruby'], dtype=object)

In [21]:
x = df[['home', 'busca', 'logado']]

y = df['comprou']

In [22]:
x = pd.get_dummies(x)
x.head(10)

   home  logado  busca_algoritmos  busca_java  busca_ruby
0     0       1                 1           0           0
1     0       0                 0           1           0
2     1       0                 1           0           0
3     1       1                 0           0           1
4     1       0                 0           0           1
5     0       1                 0           0           1
6     0       1                 1           0           0
7     0       0                 0           0           1
8     1       1                 1           0           0
9     1       1                 0           0           1

In [84]:
x_treino, x_teste, y_treino, y_teste = \
        train_test_split(x, y, test_size = 0.25, random_state = 0 )

In [85]:
len(x_treino)

750

In [86]:
modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
modelo.score(x_teste, y_teste)

0.844