In [1]:
import pandas as pd
df = pd.read_csv('acessos.csv')
df.head(3)

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0

In [4]:
x = df[['home', 'como_funciona', 'contato']]
y = df['comprou']

In [5]:
print(len(x))
print(len(y))

99
99

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_treino, x_teste, y_treino, y_teste = \
    train_test_split(x, y, test_size=0.25, random_state = 0)

In [9]:
df.iloc[0:74, :]

    home  como_funciona  contato  comprou
0      1              1        0        0
1      1              1        0        0
2      1              1        0        0
3      1              1        0        0
4      1              1        0        0
5      1              0        1        1
6      1              1        0        0
7      1              0        1        1
8      1              1        0        0
9      1              0        1        1
10     1              1        0        1
11     1              0        1        1
12     0              0        1        0
13     0              0        1        0
14     0              0        1        0
15     0              0        1        0
16     0              0        1        0
17     0              1        0        0
18     0              0        1        0
19     0              1        0        0
20     0              0        1        0
21     0              1        0        0
22     0              0        1        0
23     0              1        0        0
24     1              0        1        1
25     1              1        1        1
26     1              1        1        1
27     1              0        1        1
28     0              1        0        0
29     0              0        1        0
..   ...            ...      ...      ...
44     0              0        1        0
45     0              0        1        0
46     1              0        1        1
47     1              0        1        1
48     1              1        0        0
49     1              1        0        0
50     1              1        0        0
51     1              1        0        0
52     1              0        1        1
53     1              1        0        0
54     1              0        1        1
55     1              1        0        0
56     1              0        1        1
57     1              1        0        0
58     1              0        1        1
59     0              0        1        0
60     1              0        1        1
61     0              1        0        0
62     0              0        1        0
63     0              1        0        0
64     1              0        1        1
65     0              1        1        1
66     0              0        1        0
67     1              0        1        1
68     1              0        1        1
69     1              1        0        0
70     1              1        0        0
71     0              0        1        0
72     0              0        1        0
73     0              0        1        0

[74 rows x 4 columns]

In [13]:
print(len(x_treino))
print(len(y_treino))

74
74

In [20]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
print(modelo.predict(x_teste))
print(y_teste.values)

[0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0]
[1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0]

In [21]:
modelo.score(x_teste, y_teste)

0.96

In [22]:
df = pd.read_csv('acessos_buscas.csv')
df.head(3)

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1

In [23]:
len(df)

1000

In [24]:
df['busca'].unique()

array(['algoritmos', 'java', 'ruby'], dtype=object)

In [28]:
x = df[['home', 'busca', 'logado']]
y = df['comprou']

In [32]:
x = pd.get_dummies(x)
x.head(10)

   home  logado  busca_algoritmos  busca_java  busca_ruby
0     0       1                 1           0           0
1     0       0                 0           1           0
2     1       0                 1           0           0
3     1       1                 0           0           1
4     1       0                 0           0           1
5     0       1                 0           0           1
6     0       1                 1           0           0
7     0       0                 0           0           1
8     1       1                 1           0           0
9     1       1                 0           0           1

In [29]:
x_treino, x_teste, y_treino, y_teste = \
    train_test_split(x, y,test_size=0.25, random_state=0)

In [30]:
len(x_treino)

750

In [31]:
modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)